includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8
    paths:
        - pnscripts-omnibus.php
        - uninstall.php
        - src
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    treatPhpDocTypesAsCertain: false
